/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Variables */

/* Generals */
* {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
	margin: 0;
}
